
<div class="container justify-content-center p-4">
  <h3>A list of our services</h3>



  <% @services.each do |service| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <div>
          <h4> <%= service.name %> </h4>
          <p> <%= service.description %></p>
        </div>
        <div>
          <%= link_to "submit", bookings_path, class: 'btn btn-primary text-decoration-none'%>
        </div>
      </div>
    </div>
  <% end %>

</div>
