
<div class="container justify-content-center p-4">
  <h3>A list of our services</h3>



  <% @services.each do |service| %>
    <%= service.name %><br>
    <%= button_to "Add #{service.name} to cart", line_items_path(:service_id => service.id)%>
  <% end %>
  <div class="form-group">
    <%= f.label :pickup_date %>
    <%= f.date_field :pickup_date, class: "form-control", required: true %>
  </div>

</div>
