@media only screen and (max-width: 600px) {
  .btn-success {
    margin: 6px;
    font-size: 14px;
  }

  .btn-danger {
    margin: 6px;
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
  }
  .card {
    margin-bottom: 20px;
  }
}
