
<div class="container justify-content-center p-4">
  <h3>List of Chats</h3>

  <% @chatrooms.each do |chatroom| %>
    <%= chatroom.name %><br>
    <%= chatroom.user.nickname %><br>
    <%= link_to "Chat", "/chatrooms/#{chatroom.id}", class: "nav-link" %>
  <% end %>

</div>
