<div class="container">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mx-auto">
    <div class="card rounded-4 p-4 my-5">

      <h2 class="text-center">Edit Profile</h2>
      <hr>
      <div class="form-input p-3">
        <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :pickup_date, as: :string,
                    input_html: { data: { flatpickr_target: "startTime" }, class: "rounded-input" } %>
        <%= f.input :delivery_date, as: :string,
                    input_html: { data: { flatpickr_target: "endTime", action: "click->flatpickr#setend" }, class: "rounded-input" } %>

        <div class="form-actions text-center pt-4">
          <%= f.submit 'Edit Dates', class: "btn btn-outline-primary text-center col-4" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
