<div class="container p-4">

  <div class="card p-3 rounded-4">
    <h1>Pick your most convenient dates</h1>

    <div>
      <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :pickup_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%= f.input :delivery_date, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "click->flatpickr#setend" } } %>
        <%= f.submit 'Booking Summary', class: "btn btn-primary text-white" %>
      <% end %>
    </div>
  </div>


</div>
