<!-- Footer -->
<footer class="py-3 bg-success opacity-75 text-white">
  <!-- Grid container -->

  <div class="container">
    <div class="row footer-row">
      <div class="col footer-col contact pt-4">
        <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
          <div class="pl-4">
            <p><i class="fas fa-home me-2 text-danger"></i> 16 Vla Gaudelet, Paris, FR</p>
            <p><i class="fas fa-envelope me-2 text-danger"></i> info@laundro-mate.me
            </p>
            <p><i class="fas fa-phone me-2 text-danger"></i> +01 234 567 88</p>
          </div>
      </div>

      <div class="col footer-col newsletter text-center mt-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center my-1">
            <!--Grid column-->
            <div class="pt-2 pb-2">
              <p>Sign up for our newsletter:</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
              <!-- Email input -->
            <div class="d-flex flex-column align-item-center justify-content-between">
              <div class="form-outline form-outline-footer form-white mx-1">
                <input type="email" class="form-control px-5 text-center rounded-4 mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <!--Grid column-->
                <button type="submit" class="btn btn-outline-light rounded-4">
                  Subscribe
                </button>
              </div>

                  <!-- Submit button -->
            </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

      </form>
      </div>
      <div class="col footer-col useful-col mt-4 text-end">
        <div class="useful-links me-3">
          <h5 class="text-uppercase fw-bold mb-4 text-decoration-none">Useful Links</h5>

            <ul class="list-unstyled mb-0">
              <li class="col-auto">
                <p><a href="#!" class="text-white text-decoration-none">Contact US</a></p>
              </li>
              <li class="col-auto">
                <p><a href="#!" class="text-white text-decoration-none">Terms of Use</a></p>
              </li>
              <li class="col-auto">
                <p><a href="#!" class="text-white text-decoration-none">Privacy Policy</a></p>
              </li>
            <li class="col-auto">
                <p><a href="#!" class="text-white text-decoration-none">Help</a></p>
              </li>
            </ul>
          </div>
      </div>
    </div>




        <!-- Copyright -->

    <div class="container copyright-container text-center pt-3 pb-1">
      <div class="final-footer-line">
        <h6>© 2023 Copyright <a class="text-white text-decoration-none" href="">www.laundro-mate.me  </a></h6>
      </div>
    </div>
  <div>
    <!-- Copyright -->
</footer>
        <!-- Footer -->
