<!-- Footer -->
<footer class="bg-success opacity-75 text-center text-white">
  <!-- Grid container -->

  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Paris, France</p>
          <p><i class="fas fa-envelope me-3 text-secondary"></i>info@laundromate.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
      </div>
      <div class="col">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center my-1">
            <!--Grid column-->
            <div class="">
              <p>Sign up for our newsletter</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
              <!-- Email input -->
            <div class="d-flex justify-content-center mx-3 my-1">
              <div class="form-outline form-white">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <!--Grid column-->
              </div>

                  <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light rounded-4 m-2 px-2">
                  Subscribe
                </button>
            </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
      </div>
      <div class="col">
        <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>

          <ul class="list-unstyled mb-0">
            <li class="col-auto">
              <a href="#!" class="text-white">Contact US</a>
            </li>
            <li class="col-auto">
              <a href="#!" class="text-white">Terms of Use</a>
            </li>
            <li class="col-auto">
              <a href="#!" class="text-white">Privacy Policy</a>
            </li>
           <li class="col-auto">
              <a href="#!" class="text-white">Help</a>
            </li>
          </ul>
      </div>
    </div>




  <!-- Copyright -->
  <div class="text-center pt-3 pb-1">
    © 2023 Copyright
    <a class="text-white" href="#">https://www.laundro-mate.me/</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
