<div class="container p-4">
<h1>My Profile</h1>
<p>Name: <%= @user.first_name %></p>
<p>Surname: <%= @user.last_name %></p>
<p>Nickname: <%= @user.nickname %></p>
<p>Address: <%= @user.address %></p>


<%# THIS BUTTON IS JUST A TRIAL %>
<button class="c-button c-button--gooey"> Hover me
  <div class="c-button__blobs">
  <div></div>
  <div></div>
  <div></div>
  </div>
</button>
<svg style="display: block; height: 0; width: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="goo">
      <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic"></feGaussianBlur>
      <feColorMatrix result="goo" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix" in="blur"></feColorMatrix>
      <feBlend in2="goo" in="SourceGraphic"></feBlend>
    </filter>
  </defs>
</svg>

</div>
