body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.contact {
  padding-left: 40px;
  padding-right: 0;
}

.final-footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.useful-links {
  // padding-left: 70px;
  padding-right: 0;
  margin-right: 0;
  margin-left: 160px;
}

@media only screen and (max-width: 768px) {

  .footer-col {
    margin: 70px;
    margin-bottom: 0;
  }

  .contact {
    text-align: center;
    padding-right: 55px;
  }

  .useful-links {

    padding: 30px;
    margin-left: 0;
    // margin-bottom: -70px;
    text-align: center;
  }


}


@media only screen and (max-width: 480px) {

  .footer-col {
    margin: 40px;
  }

  .newsletter {
    margin-bottom: 0;
  }

  .useful-links {
    padding: auto;
    margin-left: 0;
    margin-top: -70;
    padding-top: 0;
  }

  .copyright-container {
    margin-top: -70px;
  }

}
