body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.contact {
  padding-left: 40px;
  padding-right: 0;
}

.final-footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 7%;
  height: 3%;
  margin-left: 10px;
}

.useful-links {
  // padding-left: 70px;
  padding-right: 0;
  margin-right: 0;
  margin-left: 160px;
}

@media only screen and (max-width: 600px) {
  footer {
    text-align: center;
  }

  .contact {
    padding: 0;
    margin: 0;
  }

  form {
    margin: 20px;
  }

  .useful-links {
    padding: 0;
    margin: 0;
  }
}
